@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

button {
   cursor: pointer;
}

h1, h2, h3, h4, h5 {
   margin: 0;
}

p {
	margin: 0 0 1em 0;
}

.clear {
   clear: both;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
   &-phone {
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
   }

   &-center {
      text-align: center;
   }

   &-right {
      text-align: right;
   }
}

.hamburger {
    display: none;
    margin-left: 20px;
}

.grow {
    flex-grow: 1;
}

.button {
   position: relative;
   display: inline-block;
   text-decoration: none;
   background-color: $accent;
   padding: 12px 10px;
   font-size: 14px;
   line-height: 1;
   font-weight: normal;
   text-align: center;
   color: #fff !important;
   border: 1px solid $accent;
   cursor: pointer;

   &:hover {
      color: #000 !important;
      background-color: #fff !important;
   }    

   &:active {
    top: 1px;
   }

   &-white {
      background-color: #fff;
      color: #000 !important;
      border-color: #fff !important;

      &:hover {
         background-color: $accent !important;
         color: #fff !important;
      }
   }
}

.input-div {
  position: relative;
  
  img {
    position: absolute;
    top: 1;
    left: 0;
 }

  .input {
    width: 100%;  
  }
}

.input, .textarea {
    background: transparent;
    color: #fff;
    font-size: 14px;
    line-height: inherit;
    border: 1px solid #fff;
    font-family: $default_family, sans-serif;
    padding: 11px 10px 11px 45px;   
  
    &.error {
		border-color: red;
		color: red;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 45px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #fff;
    font-weight: 300;
      opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #fff;
    font-weight: 300;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #fff;
    font-weight: 300;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.textarea {
   padding: 11px 10px;  
}

.form {
   background-color: $accent;
   font-weight: 300;
   color: #fff;
   padding: 40px 30px;

   &-title {
      font-size: 18px;
      margin-bottom: 35px;
   }

   &-info {
      font-size: 10px;
      text-align: left;
      letter-spacing: 0;
   }

   form {
      max-width: 263px;
      margin: 0 auto;
   }
   
   .input-div {
      margin-bottom: 10px;
   }

   .button {
      width: 100%;
      margin-bottom: 15px;
   }

   &-hascontent {
      padding: 20px;

      form {
         max-width: none;
      }

      .form-title {
         text-align: left;
         margin-bottom: 20px;
      }
   }

   &-content {
      display: flex;
      margin-bottom: 15px;

      .textarea {
         flex-grow: 1;
      }

      .input-div {
         &:last-child {
            margin-bottom: 0;
         }
      }

   }

   &-inputs {
      width: 262px;
      margin-right: 20px;
   }

   &-button {
      display: flex;
      justify-content: space-between;

      .button {
         width: 180px;
      }

      .form-info {
         margin-top: 8px;
      }
   }
}

.form2 {
   max-width: 900px;
   margin: 0 auto;  
   padding: 10px 0; 
   .form-title {
      margin-bottom: 15px;
   }
   &-accent {
      // background-color: $accent;
      // max-width: 100%;
   }

   .button {
      margin-bottom: 10px;
   }

   form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
 
   .input-div {
      flex-grow: 1;
      margin: 0 20px 10px 0;
   }
 }




