
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

   .header {
      &-slogan {
         display: none;
      }
   }

   .main-menu {
      margin-top: 0;
   }

   .section {    
      
   }

}

@media only screen and (max-width : 991px) {	

   .form {
      width: 100% !important;
      margin: 0 auto;
      form {
         width: 100%;
      }
   }


    .hamburger {
        display: block;
    }    

    .header {
       border-bottom: 1px solid $accent;
        &-phone {
           display: none;
        }
        &-grafik {
           display: none;
        }
        
    }

    .footer {
        text-align: center;
        .grow {
            display: none;
         }
        &-content {            
            flex-direction: column;
            & > * {
               margin: 0 auto 20px !important;            
            }
            .vopros-button {
               margin: 0 !important;
            }
            .grow {
               display: none;
            }
        }
    }

	.main-menu {
      display: none;
      background-color: #fff;
      position: fixed;
      top: 83px;
      left: 0;
      right: 0;
      text-align: left;
      margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
         padding: 0;
         margin: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
         }
         a {
            color: #000;
            padding: 0;
         }
		}
    }

   .section {

      &-main {
         background-color: #fff;
         &-content {
            flex-direction: column;
         }
         &-title {
            font-size: 36px !important;
         }
         &-block {
            width: 100%;
            margin-bottom: 20px;
            padding: 50px 0;
         }
      }

      &-srok {
         &-content {
            display: block;
            height: auto;
         }
         .srok {
            &-block {
               width: 100%;
            }
            width: 48%;
         }         
      }

      &-answers {
         &-content {
            flex-direction: column;
         }
         .answers {
            width: 80%;
            margin: 0 auto 20px;
            &-title {
               margin-bottom: 10px !important;
            }
            &-form {
               width: 80%;
               margin: 0 auto;
            }
         }
      }

      &-contact {
         &-content {
            flex-direction: column;
         }
         
         .map {
            width: 100%;
            margin-bottom: 20px;
         }
         .contact {
            width: 100%;
            &-block {
               &-content {
                  max-width: none;
                  margin: 0 auto 25px;
               }
            }
         }
      }

      &-sovet {
         padding-top: 30px;
         &-title {
            font-size: 24px;
            text-align: center;
         }
         .sovet {
            span {
               font-size: 16px;
            }
         }
      }
   }


   #thanks-page {
      .page-wrapper {
         background: transparent;
      }

      .header {
         background: $accent;
      }

      .section-thanks {
         padding: 130px 0 30px;
         display: flex;
         align-items: center;

         &-img {
            display: none;
         }

         &-text {
            margin-bottom: 20px;
         }
      }
   }


}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &-title {
           display: none;
        }
        .logo {
           margin: 0;
        }
        .button {
           margin: 0;
        }
    }
    
   .section {
      &-title {
         font-size: 27px;
         margin-bottom: 25px;
      }

      &-reviews {
         .review {
            &-img {
            }
         }
      }

      &-correct {
         &-content {
            flex-direction: column;
         }
         .correct {
            width: 360px;
            margin: 0 auto 20px;
         }
      }

      &-sovet {
         &-content {
            display: flex;
            flex-direction: column;
         }
         .sovet {
            &-img {
               width: 360px;
               margin: 0 auto 10px;
            }
         }
      }
      
   }

   .more {
      &-text {
         position: static;
         margin: 0 0 5px !important;

         &-num {
            display: inline-block;
         }
      }

      &-img {
         display: none;
      }

      &-img2 {
         display: block;
         margin-bottom: 15px;
      }

      &-1 {
         .more-block {
            max-width: 367px;
         }
      }
   }

   .form2 {
      form {
         flex-direction: column;
         max-width: 500px;
         margin: 0 auto;
      }

      .input-div, .button {
         width: 100%;
      }

      .form-info {
         max-width: 500px;
         margin: 0 auto;
      }
   }

}

@media only screen and (max-width : 550px) {
   .section {
      &-srok {
         .srok {
            width: 360px !important;
            margin: 0 auto 20px;
            &-block {
               flex-direction: column;
            }
         }
      } 
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

  .remodal {
    
  }

   .form {
      &-title {
         font-size: 16px;
      }
   }

   //  .button {
   //      width: 100%;
   //      min-width: auto;
   //  }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .header {
       .button {
          display: none;
       }
    }

   .section {
      &-title {
         font-size: 25px;
         margin-bottom: 20px;
      }

      &-why {
         .why {
            width: 100%
         }
      }

      &-srok {
         .srok {
            width: 100% !important;
         }
      }

      &-correct {
         .correct {
            max-width: 290px;
         }
      }

      &-blog {
         .blog {
            margin: 0 auto;
         }
      }

      &-answers {
         .answers {
            width: 100%;
            &-form {
               width: 100%;
            }         
         }           
         .answer-button {
            font-size: 16px;
         } 
         .form {
            &-content {
               flex-direction: column;
            }
            &-inputs {
               width: 100%;
               margin: 0 0 20px;
            }
            &-button {
               flex-direction: column;
            }
            &-info {
               margin-bottom: 10px;
            }
            .button {
               width: 100%;
            }
         }
         
      }

      &-contact {         
         .contact {
            &-block {
               text-align: center;
               &-content {
                  flex-direction: column;
               }
               .button {
                  width: 100%;
               }
            }
            
            &-text {
               margin-bottom: 10px;
            }
         }
      }

      &-sovet {
         .sovet {
            &-img {
               width: 290px;
            }
         }
      }
   }

   .modal {
     &-title {
       font-size: 20px;
     }

     &-form {
       flex-direction: column;
     }

     &-left {
       margin-right: 0;
     }

     &-footer {
       display: block;
       text-align: left;
     }

     &[data-remodal-id="zadat-vopros"] {  
       background-size: cover;
       background-position: center 50px;
      .input-div {
        &:last-child {
          margin-bottom: 10px;
        }
      }

      .textarea {
        height: 125px;
        margin-bottom: 10px;
      }
    }
   }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .section {
    
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {  

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {
	.section {
    
  }
}