@import './base';

html, body {
	// height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
   font-weight: normal;
   font-family: $default_family;
	overflow-x: auto;
   opacity: 1;
   letter-spacing: -0.7px;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-wrapper {
    overflow: hidden;
    min-height: 100vh;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    padding-top: 83px;
}

.link {
    font-weight: bold;
}

.text-phone {
   font-size: 14px;
}

.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 98;

   &-part {
      background-color: #fff;
   }

   &-title {
      font-weight: normal;
      max-width: 230px;
      font-size: 14px;
      margin: -17px 0 0 53px;
   }

   &-content {
      display: flex;
      align-items: center;
      padding: 10px 0;
   }

   &-grafik {
      margin-right: 60px;
   }
   .logo {
      margin-right: 30px;
   }
   .button {
      margin-left: 25px;
   }
}

.footer {
    background-color: $gray;
    color: #fff;

   &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px 0;
   }

   &-title {
      display: inline-block;
      background-color: #f2f2f2;
      color: #000;
      padding: 2px 3px;
      margin-bottom: 8px;
   }

    &-address {
       margin-right: 50px;
    }
    
    &-phone {
       margin-right: 90px;
       .text-phone {
          color: #fff;
       }
    }

    &-comand {
       text-align: center;
       &-title {
          margin-bottom: 10px;
       }
    }

    .button {
       margin-right: 50px;
    }
}

.main-menu {   
   background-color: rgba(3, 94, 133, 0.5);

   ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin: 0 0 0 220px;
   }

   li {
      margin: 0px 25px 0 0;
      &.last {
         margin-right: 0;
      }
   }

   a {
      display: inline-block;
      text-decoration: none;
      font-weight: normal;
      color: #fff;
      padding: 10px 10px;

      &::after {
         content: "";
         display: block;
         height: 1px;
      }

      &.link:hover, &.active {
         background-color: #fff;
         color: #000;
      }
   }
}


.section {
    text-align: center;
    padding: 40px 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &-title {
      font-family: Fusion, serif;
      font-size: 30px;
      font-weight: normal;
      color: $title_color;
      margin: 0 auto 40px;
      text-align: center;

      .inverse & {
         color: #fff;
      }
    }

    &-main {
      background-color: $accent;
      padding: 0;

      &-content {
         display: flex;
         justify-content: space-between;
      }

      &-title {
         font-size: 48px;
         font-weight: normal;
         text-align: left;
         letter-spacing: -2px;
         color: $accent;
         font-family: Fusion, serif;
         
         span {
            display: inline-block;
            margin: 0 0 10px 0;
            background-color: #fff;
            &.red {
               color: #d22800;
            }
         }
      }

      &-block {
         width: 63%;
         position: relative;
         z-index: 0;
         padding-top: 118px;

         &::before {
            content: "";
            position: absolute;
            background-image: url('../img/main-back.jpg');
            background-size: cover;
            top: 0;
            left: -1000px;
            bottom: 0;
            right: 0;
            z-index: -1;
         }
      }

      .form {
         width: 37%;
         padding-top: 75px;
      }

    }

    &-why {
       &-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
       }

       .why {
         margin: 0 20px 30px;

         &-title {
            font-size: 30px;
            padding: 30px 20px;
            font-family: Fusion, serif;
            font-weight: normal;
         }

         &-img {
            display: inline-block;
            padding: 0 12px;
            background-color: $accent;
            margin-bottom: 8px;
            font-size: 36px;
            color: #fff;
         }
         
         &-text {
            font-size: 12px;
         }
       }
    }

    &-srok {
       &-content {
          display: flex;
          justify-content: space-between;
          height: 430px;
       }

       .form {
          width: 30.5%;
       }

       .srok {
         width: 48%;
         height: 200px;
         margin-bottom: 30px;
         position: relative;
         padding-bottom: 85px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         &-block {
            width: 67%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
         }

         &-title {
            font-size: 30px;
            max-width: 336px;
            color: #fff;
            font-family: Fusion;
            font-weight: normal;

            span {
               padding: 0 2px;
               margin: 0 0 3px 0;   
               background-color: $accent;
               display: inline;
            }
         }
         
         .button {
            position: absolute;
            bottom: 42px;
         }
       }
       .srok-1 {
         background-image: url('../img/srok-1.jpg');
       }
       .srok-2 {
         background-image: url('../img/srok-2.jpg');
       }
       .srok-3 {
         background-image: url('../img/srok-3.jpg');
       }
       .srok-4 {
         background-image: url('../img/srok-4.jpg');
       }
    }

    &-marka {
      .marka-carousel {
         padding: 0 30px;  
      }
      .marka {
         height: 150px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
    }

    &-reviews {     
      padding: 0;
      background-color: $gray;

      &-content {
         padding: 40px 0 0;
         background-image: url('../img/reviews-back.jpg');
         background-size: cover;
      }

      .section-title {
         background-color: #f0f0f0;
         display: inline-block;
         padding: 0 5px;
      }

      .reviews-carousel {
         max-width: 692px;
         margin: 0 auto;
         padding: 0 50px;

         .owl {
            &-next, &-prev {
               width: 35px;
               height: 97px;
            }

            &-next {
               background-image: url('../img/arrow-white-right.png') !important;
            }

            &-prev {
               background-image: url('../img/arrow-white-left.png')  !important;
            }
         }
      }

       .review {     
         position: relative;
         max-width: 585px;
         margin: 0 auto;    

         &-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
         }

         &-author {
            position: absolute;
            top: 183px;
            left: 140px;
            font-size: 24px;
            color: #fff;
         }

         &-text {
            position: absolute;
            top: 254px;
            left: 78px;
            right: 88px;
            text-align: left;
            font-size: 18px;
         }

         &-answer {
            position: absolute;
            bottom: 27px;
            right: 100px;
            max-width: 420px;
            font-size: 16px;
         }         
       }
    }

    &-correct {
       &-content {
          display: flex;
          justify-content: space-between;
       }

       .correct {
         // max-width: 360px;
         width: 32%;
         display: flex;
         flex-direction: column;
         
         &-title {
            font-weight: normal;
            font-size: 16px;
            margin: 20px 0;
            padding: 0 20px;
            flex-grow: 1;
         }

         .button {
            width: 100%;
         }
       }
    }

    &-form {
      background-color: $gray;
      padding: 0;

      &-content {
         position: relative;
         padding: 40px 0 20px;
         background-image: url('../img/form-back.jpg');
         background-size: cover;
         background-position: center top;
      }
    }

    &-blog {
       .section-title {
          margin-bottom: 20px;
       }

       &-title {
          margin-bottom: 30px;
       }

      .blog {
         display: flex;
         flex-direction: column;
         max-width: 360px;
         
         &-title {
            font-weight: normal;
            font-size: 16px;
            margin: 20px 0;
            letter-spacing: -1px;
            flex-grow: 1;
         }
         .button {
            width: 100%;
         }
       }
    }    

    &-contact {
       .container {
          width: auto;
          padding: 0;
       }

       &-content {
          display: flex;
       }
       .map {
          flex-grow: 1;
       }
       .contact {
         width: calc((100% - 1140px)/2 + 490px);
         color: #fff;
         position: relative;
         background-image: url('../img/contact-back.jpg');
         background-size: cover;

         &-title {
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
         }
         &-block {
            padding: 20px 30px 45px;
            width: 490px;
            text-align: left;

            &-title {
               background-color: $accent;
               display: inline-block;
               margin-bottom: 10px;
            }
            
            &-content {
               display: flex;
               max-width: 368px;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 40px;
            }
            .text-phone {
               color: #fff;
            }
            .button {
               width: 170px;
               padding: 12px 2px;
               letter-spacing: -1px;
            }
            &-text {
               text-align: left;
            }
         }
       }
    }

    &-answers {
       &-content {
          display: flex;
          justify-content: space-between;
       }

       .answers {
         width: 49%;
         &-title {
            font-size: 18px;
            text-align: left;
            margin-bottom: 20px;
         }  
         &-form {
            width: 49%;
         }
       }

      .answer {          
         margin-bottom: 5px;

         &-button {
            padding: 10px 38px 10px 20px;
            text-align: left;
            background-color: $accent;
            font-size: 18px;
            color: #fff;
            position: relative;
            cursor: pointer;

            &:after {
               content: "";
               position: absolute;
               background-image: url('../img/plus.png');
               top: 50%;
               right: 8px;
               margin-top: -12.5px;
               width: 25px;
               height: 25px;
               background-repeat: no-repeat;
               background-position: center center;
            }
         }
         
         &-text {
            background-color: #e6e6e6;
            padding: 12px 22px;
            text-align: left;
         }

         &.active {
            .answer-button {
               &:after {
                  background-image: url('../img/minus.png');
               }
            }
         }
       }

    }

    &-sovet {
      padding-top: 70px;

       &-title {
          font-size: 30px;
          margin-bottom: 30px;
       }

       &-link {
         display: inline-block;
         color: $accent;
         font-size: 16px;
         border-bottom: 1px solid $accent;
         margin-bottom: 30px;
       }

       .sovet {
         margin-bottom: 18px;
         
         span {
            font-size: 24px;
            color: $accent;
         }

         &-img {
             margin: 0 20px 10px 0;
             float: left;
          }

         &-2 {
            font-size: 16px;
            margin-bottom: 18px;
         }

          &-podgotovka {
             &-title {
                font-size: 16px;
                color: $accent;
                margin-bottom: 20px;
             }
          }
       }

      .form2 {
         background-color: $accent;
         padding: 10px 40px;
         max-width: 980px;
         margin: 35px auto 20px;
      }
     
    }

}

#thanks-page {
   .header {
      background: transparent;
   }

   .page-wrapper {
      background-image: url('../img/thanks-back-top.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right top;
   }

   .section-thanks {
      background-image: url('../img/thanks-back.jpg');
      padding: 150px 0 0 0;
      flex-grow: 1;
      text-align: left;
   
      &-content {
         display: flex;
         justify-content: space-between;         
      }
   
      &-block {
      }
   
      &-title {
         font-size: 48px;
         color: #d22800;
         background-color: #fff;
         display: inline-block;
         margin-bottom: 10px;
      }

      &-text {
         font-size: 30px;
         color: $accent;
         background-color: #fff;
         margin-bottom: 3px;
         display: inline-block;
      }
   
      &-link {
         text-decoration: underline;
         color: #fff;
         margin-top: 65px;
         display: block;
      }
   }
}

.modal {
   text-align: center;
   background-color: $accent;
   color: #fff;

   &-title {
     font-size: 20px;
     margin-bottom: 30px;
   }

   .remodal-close {
      color: #fff;
   }
 
   form {
     margin: 0 auto;
     width: 265px;
   }
 
   .input-div {
     margin-bottom: 10px;
   }
 
   .button {
     width: 100%;
     margin: 10px 0;
   }
 }

.more {
   max-width: 1050px;
   padding: 0;
   box-shadow: 0px 9px 20.58px 0.42px rgba(0, 0, 0, 0.35);
   text-align: center;

   &-title {
      font-size: 20px;
      padding: 30px 15px 0;
      text-align: center;
   }
   
   &-content {
      padding: 30px 15px;
   }

   &-img2 {
      display: none;
   }

   &-footer {
      padding: 10px;
      background-color: $accent;
   }

   &-block {
      margin: 0 auto;
      padding: 0 10px;
      position: relative;      
   }

   &-text {
      position: absolute;  
      text-align: left;  

      &-num {
         display: none;
         margin-right: 10px;
      }
      
      &-right, &-right + .more-num {
         left: 50%;
      }

      &-left, &-left + .more-num {
         right: 50%;
      }
   }

   &-num {
      position: absolute;
      display: none;
   }

   &-1 {
      .more {
         &-block {
            max-width: 870px;
            width: 100%;
         }

         &-text {
            &-right, &-right + .more-num {
               margin-left: 155px;
            }
      
            &-left, &-left + .more-num {
               margin-right: 155px;
            }

            &-1, &-1 + .more-num {
               top: 15px;
            }
            &-2, &-2 + .more-num {
               top: 85px;
            }
            &-3, &-3 + .more-num {
               top: 170px;
            }
            &-4, &-4 + .more-num {
               top: 260px;
            }
            &-5, &-5 + .more-num {
               top: 40px;
            }
            &-6, &-6 + .more-num {
               top: 80px;
            }
            &-7, &-7 + .more-num {
               top: 185px;
            }
         }
      }
   } 

   &-2 {
      .more {
         &-block {
            max-width: 870px;
            width: 100%;
         }

         &-text {
            &-right, &-right + .more-num {
               margin-left: 180px;
            }
      
            &-left, &-left + .more-num {
               margin-right: 180px;
            }

            &-1, &-1 + .more-num {
               top: 115px;
            }
            &-2, &-2 + .more-num {
               top: 175px;
            }
            &-3, &-3 + .more-num {
               top: 265px;
            }
            &-4, &-4 + .more-num {
               top: 305px;
            }
            &-5, &-5 + .more-num {
               top: 70px;
            }
            &-6, &-6 + .more-num {
               top: 160px;
            }
            &-7, &-7 + .more-num {
               top: 200px;
            }
            &-8, &-8 + .more-num {
               top: 305px;
            }
         }
      }
   } 

   &-3 {
      .more {
         &-block {
            max-width: 870px;
            width: 100%;
         }

         &-text {
            &-right, &-right + .more-num {
               margin-left: 225px;
            }
      
            &-left, &-left + .more-num {
               margin-right: 225px;
            }

            &-1, &-1 + .more-num {
               top: 55px;
            }
            &-2, &-2 + .more-num {
               top: 125px;
            }
            &-3, &-3 + .more-num {
               top: 208px;
            }
            &-4, &-4 + .more-num {
               top: 265px;
            }
            &-5, &-5 + .more-num {
               top: 35px;
            }
            &-6, &-6 + .more-num {
               top: 120px;
            }
            &-7, &-7 + .more-num {
               top: 210px;
            }
         }
      }
   }
    
}

@import './_media';